.active a {
    color: #fea116;
}
.a::after {
    content: "";
    display: inline-block;
    width: 80px;
    border-top: 2px solid #fea116;
    margin-left: 10px;
    vertical-align: middle;
}
.dropdown-item:hover,
.dropdown-item:active {
    background-color: #fea116;
}

.dropdown-menu {
    border-radius: 0;
}
.navbar-brand {
    color: #fea116;
    font-size: x-large;
    font-weight: 800;
    font-family: "Nunito sans";
}
.b {
    background-color: #fea116;
    border: none;
    padding: 8px;
}
a{
    text-decoration: none;
    color: white;
}

.navbar-brand:hover {
    color: wheat;
}

.navbar-custom .dropdown-toggle:hover,
.navbar-custom .dropdown-toggle.show {
    color: #fea116;
}

.navbar-custom .dropdown-toggle {
    color: white;
}
nav ul li a.actif {
    color: white;
}

.navbar-custom {
    background-color: #080c18;
    color: #ffffff;
    border-top-left-radius: 12px;
}

.navbar-custom .navbar-toggler {
    border: #9196a5 solid;
}

.navbar-custom .navbar-toggler-icon {
    background-color: #080c18;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28145, 150, 165, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-item {
    margin-right: 10px;
}

button a {
    text-decoration: none;
    color: white;
}

button {
    background-color: #fea116;
    border: none;
    padding: 8px;
}

.dropdown-item:hover,
.dropdown-item:active {
    background-color: #fea116;
}

.dropdown-menu {
    border-radius: 0;
}

.a {
    font-family: "Pacifico";
    color: #fea116;
    font-size: larger;
    margin-bottom: 0;
}

.a::after {
    content: "";
    display: inline-block;
    width: 50px;
    border-top: 2px solid #fea116;
    margin-left: 10px;
    vertical-align: middle;
}

.card {
    border: none
}

h1 {
    font-family: "Nunito";
    font-weight: 800;
}



#to-top {
    position: fixed;
    background-color: #fea116;
    color: white;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #fea116;
}

nav ul li a {
    color: #fea116;
    text-decoration: none;
}
header {
    background-image: url("assets/bg-img.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: multiply;
    color: white;
    padding: 10px 20px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

header h1 {
    font-family: "Nunito sans";
    font-size: 42px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li:not(:last-child)::after {
    content: "/";
    margin-left: 8px;
    margin-right: 8px;
    color: grey;
}

header nav ul li a {
    color: #fea116;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}
header nav ul li a {
    color: #fea116;
    text-decoration: none;
}


.titre{
    font-size: larger;
    font-weight: bold;
    font-family: "nunito SANS";
    margin-left: 5px;
}
body{
    background-color: rgb(243, 240, 235);
}
.text{
    font-size: smaller;
    font-weight: lighter;
    margin-left: 5px;
}
.card{
    width: 250px;
    height: 200px;
    margin-left: 20px;
}
.d{
    margin-left: -80px;
}
.g{
 margin-left: 150px;
}
.k{
  font-family: pacifico;
  color: #fea116;
  text-align: center;
  margin-top: 20px;

}
h1{
    font-family: "nunito sans";
    text-align: center;
    margin-top: 20px;
}
.c{
    color: white;
    background-color: #fea116;
    height: 20px;
    font-size: smaller;
    border: none;
    margin-top: 5px;
    margin-right: 25px;
}
@media screen and (max-width: 991px) {
    header {
        display: flex;
    }

    .col{
    width: 23%;
     display: flex;
     flex-direction: column;
     margin-left: 100px;
     margin-top: 20px;
        
    }
    .card{
        width: 200px;
    }
    .titre{
        margin-left: 200;
    }
    #f {
    background-color: #080c18;
    padding-top: 30px;
    height: fit-content;
    min-height: 250px;
    margin: 0;
    color: white;
}

footer .col-lg-3 {
    padding: 20px;
}

.fa-angle-right,
.fa-location-dot,
.fa-phone,
.fa-envelope {
    margin-right: 7px;
}

footer a {
    text-decoration: none;
    font-family: "Nunito";
    color: white;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    font-family: "Nunito";
    margin-bottom: 5px;
    font-size: 14px;
}

footer h6 {
    font-family: "Pacifico";
    color: #fea116;
    font-size: large;
    margin-bottom: 18px;
}

footer h6::after {
    content: "";
    display: inline-block;
    width: 40px;
    border-top: 2px solid #fea116;
    margin-left: 10px;
    vertical-align: middle;
}

footer em {
    font-style: normal;
    display: block;
    font-size: 16px;
}

.fa-brands {
    border: 1px white solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

footer .input-group {
    border: 1px solid #fea116;
    border-radius: 2px;
    background-color: white;
}

footer .form-control {
    padding: 10px;
    width: 100%;
    border-radius: 0;
    border: 0;
}

footer input[type="submit"] {
    background-color: #fea116;
    margin: 5px;
    color: white;
    padding: 7px;
    border: 0;
    width: 35%;
    font-family: "Nunito";
    font-size: 14px;
} 


}
.i{
    color: #fea116;
     font-size: 60px;
     margin-left: 10px; 
     margin-top: 5px;
}


.card:hover .i {
    color: #ffffff;
}

.card:hover .titre,
.card:hover .text {
    color: white;
}
.card:hover{
    background-color: #fea116;
}
#f {
    background-color: #080c18;
    padding-top: 30px;
    height: fit-content;
    min-height: 250px;
    margin: 0;
    color: white;
}

footer .col-lg-3 {
    padding: 20px;
}

.fa-angle-right,
.fa-location-dot,
.fa-phone,
.fa-envelope {
    margin-right: 7px;
}

footer a {
    text-decoration: none;
    font-family: "Nunito";
    color: white;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    font-family: "Nunito";
    margin-bottom: 5px;
    font-size: 14px;
}

footer h6 {
    font-family: "Pacifico";
    color: #fea116;
    font-size: large;
    margin-bottom: 18px;
}

footer h6::after {
    content: "";
    display: inline-block;
    width: 40px;
    border-top: 2px solid #fea116;
    margin-left: 10px;
    vertical-align: middle;
}

footer em {
    font-style: normal;
    display: block;
    font-size: 16px;
}

.fa-brands {
    border: 1px white solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

footer .input-group {
    border: 1px solid #fea116;
    border-radius: 2px;
    background-color: white;
}

footer .form-control {
    padding: 10px;
    width: 100PX;
    border-radius: 0;
    border: 0;
}

footer input[type="submit"] {
    background-color: #fea116;
    margin: 5px;
    color: white;
    padding: 7px;
    border: 0;
    width: 35%;
    font-family: "Nunito";
    font-size: 14px;
}